:root {
    --primary-color: rgb(189, 12, 189);
    --secondary-color: rgb(253, 55, 253);
}

h1 {
    text-align: center;
    font-size: 4vw;
}

p {
    text-align: center;
}

span {
    width: fit-content; 
    height: 1px; 
    border-bottom: 2px solid gray; 
    content: ""
}

label {
    font-size: xx-large;
}

.buttonBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
};

.listy {
    flex-direction: unset;
}

.highScorePage {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}


.secondary {
    color: gray;
    font-size: xxx-large;
    border-bottom: gray;
}

.answer-list {
    /* gives the answers their color/hover changes */
}

.btn, .btn2 {
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary-color);
    font-size: 2.2rem;
    border-radius: 12px;
}

.btn:hover, .btn2:hover {
    background: var(--secondary-color);
}

.endText {
    font-size: 2vw;
}