:root {
    --primary-color: rgb(189, 12, 189);
    --secondary-color: rgb(253, 55, 253);
}

h1 {
    text-align: center;
    font-size: 4vw;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.highscore {
    /* make it purple i guess */
}

.answer-list {
    /* gives the answers their color/hover changes */
}

.btn, .btn2 {
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary-color);
    font-size: 2.2rem;
    border-radius: 12px;
}

.btn:hover, .btn2:hover {
    background: var(--secondary-color);
}